.basket{
    padding-top: 120px;
}

.basket-search-navbar{
    width: 100%;
    margin: 0;
    padding: 30px 0 15px 0;
}

.form-control.basket-top-search{
    border: 1px solid #ccc;
    background: white;
}

.basket-search-navbar > .form-control{

}

.basket-half{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
}

.basket-column > h5, .basket-column > p{
    display: inline-block;
}

.top-basket-columns-names{
    background: #eee;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
}

.basket-column-name{
    display: inline-block;
    margin: auto;
    color: #646464;
    font-size: 18px;
}

.basket-column-name > strong{
    color: black;
}

.basket-item{
    margin-top: 30px;
}

.basket-item-img{
    width: 100%;
    margin-right: 30px;
}

.sneaker-size{
    background: #eee;
    padding: 0 3px;
    border-radius: 4px;
    margin-left: 5px;
}

.basket-item-amount{
    height: 40%;
    width: 100%;
    background: #eee;
    border-radius: 5px;
    margin-top: 35%;
    padding-top: 10%;
    padding-left: 25%;
}

.basket-item-price{
    height: 100%;
    margin-top: 45%;
    font-size: 18px;
}

.delete-basket-item{
    color: #eee;
    font-size: 25px;
    margin-top: 150%;
}

.basket-total-price{
    text-align: right;
}

.continue-shopping-col{
    text-align: right;
}

.continue-shopping{
    background: #fff;
    color: #646464;
    width: 90%;
    border: 1px solid #646464;
    border-radius: 10px;
    height: 40px;
}

.pay{
    color: #fff;
    background: #f03b54;
    width: 90%;
    border: none;
    height: 40px;
    border-radius: 10px;
}

.form-control{
    border: none;
    background: #eee;
}

.form-btn.pay{
    width: 40%;
    height: 40px;
    margin: auto;
    display: inline-block;
    margin-left: 30%;
    margin-top: 40px;
}
